*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
/fastlane/README.md
/fastlane/report.xml
.externalNativeBuild
.cxx
.env.default
api-play-store-key.json
secrets.properties
ic_asma_allah_alhusna_original_artboard_*
daily-verses.json
quran-page-by-quarter.json
quarters-surahs-ayahs.json
morning-invocations.json
evening-invocations.json
ic_quran_silhuoette.xml
ic_iqra_writing.xml
ic_bismillah_24dp.xml
ic_al_quran_book.xml