*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
/fastlane/README.md
/fastlane/report.xml
.externalNativeBuild
.cxx
.env.default
api-play-store-key.json
secrets.properties
ic_asma_allah_alhusna_original_artboard_*
daily-verses.json