<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbouzidi.fiveprayers">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.hbouzidi.fiveprayers.FivePrayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hbouzidi.fiveprayers.ui.names.NamesActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.quran.surahs.QuranActivity" />
        <activity
            android:name="com.hbouzidi.fiveprayers.ui.quran.pages.AyahsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.hbouzidi.fiveprayers.ui.DefaultActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hbouzidi.fiveprayers.ui.appintro.IntroActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.splashscreen.SplashScreenActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.MainActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.calendar.CalendarActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.timingtable.TimingTableActivity" />
        <activity android:name="com.hbouzidi.fiveprayers.ui.qibla.CompassActivity" />

        <receiver
            android:name="com.hbouzidi.fiveprayers.notifier.NotifierBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hbouzidi.fiveprayers.notifier.NotifierReceiver" android:enabled="true" />
        <receiver android:name="com.hbouzidi.fiveprayers.notifier.NotifierActionReceiver" android:enabled="true" />
        <receiver android:name="com.hbouzidi.fiveprayers.notifier.NotificationDismissedReceiver" />

        <service
            android:name="com.hbouzidi.fiveprayers.notifier.NotifierService"
            android:exported="false"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
    </application>

</manifest>