<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbouzidi.fiveprayers">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https"/>
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".FivePrayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.names.NamesActivity" />
        <activity android:name=".ui.quran.surahs.QuranActivity" />
        <activity
            android:name=".ui.quran.pages.AyahsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.DefaultActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.appintro.IntroActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity android:name=".ui.timingtable.TimingTableActivity" />
        <activity android:name=".ui.qibla.CompassActivity" />
        <activity
            android:name=".ui.report.ErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity" />

        <receiver
            android:name=".notifier.NotifierBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notifier.NotifierReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifier.NotifierActionReceiver"
            android:enabled="true" />
        <receiver android:name=".notifier.NotificationDismissedReceiver" />

        <service
            android:name=".notifier.NotifierJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>