<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hbouzidi.fiveprayers">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".FivePrayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlueWhiteTheme">
        <activity android:name=".ui.names.NamesActivity" />
        <activity android:name=".ui.quran.index.QuranIndexActivity" />
        <activity
            android:name=".ui.quran.pages.QuranPageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.DefaultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.appintro.IntroActivity" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity
            android:name=".ui.timingtable.TimingTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.qibla.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.report.ErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity" />

        <receiver
            android:name=".notifier.NotifierBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notifier.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notifier.NotifierReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifier.ReminderReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifier.SilenterReceiver"
            android:enabled="true" />
        <receiver
            android:name=".notifier.NotifierActionReceiver"
            android:enabled="true" />
        <receiver android:name=".notifier.NotificationDismissedReceiver" />

        <receiver
            android:name=".ui.widget.HomeScreenWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_screen_widget_info" />
        </receiver>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Disable androidx.startup only for WorkManagerInitializer -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>